template_path: "{{ prometheus_stack_prometheus_tg_bot_config_path }}/telegram-bot.tmpl"
telegram_token: "{{ prometheus_stack_prometheus_tg_bot_token }}"
time_outdata: "02/01/2006 15:04:05"
time_zone: "Europe/Moscow"
